web/bundles/
app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
build/
vendor/
bin/
composer.phar

#sass source
*.scssc

#metas
*.meta

#bundle ressource
!web/bundles/
!vendor/adesigns/
!vendor/willdurand
!vendor/friendsofsymfony