
// GREY
$grey: #E6E6E6;
$whitesmoke: #F8F8F8;
$darkgrey: #5E5E5E;
$darkestgrey: #4B4D50; // On navbar
$app-background: #F3F3F3;

// BLUE
$primary-blue: #1C7EBB;
$light-blue: #2B9ADF;
$aquamarine: #9CC5D7;

// WHITE
$white: #FFFFFF;