{% set title = 'Equipe' %}
{% extends "::base.html.twig" %}
{% block content %}
<div id='affichageEquipe'>
	<h3>{{Equipe.nom}} - {{Equipe.club.nom}}</h3>
	<br />
	<h4>Sport :</h4>
	<p>{{Equipe.sport.nom}}</p>
	<br />
	<h4>Calendrier</h4>
	<span class='calendar'>Calendrier à venir ici</span>
	<br />
	<h4>Membres :</h4>
	<span class='membres'>Liste des membres à venir ici</span>
</div>
{% endblock %}