{% set title = 'Ligues' %}
{% extends "::base.html.twig" %}
{% block content %}
<ul class='selection'>
	<li><button type="button">Ligues</button></li>
	<br />
	<li><button type="button">Clubs</button></li>
	<br />
	<li><button type="button">Equipes</button></li>
</ul>

<div id='dynamique'>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" ></script>
<script type="text/javascript">
$("button").click(function(){
	var url = "{{url('pico_league_affichage_ajax',{'Type' : 'to_replace'})}}";
	url = url.replace("to_replace", $(this).html());
  	$.get(url,function(data,status){
  		if(status == 'success') {
    		$('#dynamique').html(data);
    	} else {
    		alert('erreur');
    	}
  	});
});
</script>
{% endblock %}