{% set title = 'Ligues' %}
{% extends "::base.html.twig" %}
{% block content %}
    <div class="row" id="league-action">
        <h2 class="text-align"><span>Vous cherchez :</span></h2>
        <div class="col-md-2 col-md-offset-3">
            <div class="search-by">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <button type="button" class="btn btn-success btn-lg" value="Ligues">
                    Une ligue
                </button>
                <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
        </div>

        <div class="col-md-2">
            <div class="search-by">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <button type="button" class="btn btn-success btn-lg" value="Clubs">
                    Un club
                </button>
                <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
        </div>

        <div class="col-md-2">
            <div class="search-by">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <button type="button" class="btn btn-success btn-lg" value="Equipes">
                    Une équipe
                </button>
                <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
        </div>
    </div>

	<div class='' id='dynamique'>
	</div>
{% endblock %}



{% block extrascript %}
{% stylesheets 
	'@PicoLeagueBundle/Resources/public/jquery-ui-1.11.2.custom/jquery-ui.css'
	'@PicoLeagueBundle/Resources/public/Jquery-ui-multiselect-widget/jquery.multiselect.css'
	'http://cdn.datatables.net/1.10.5/css/jquery.dataTables.css' 
%}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}

	{% javascripts '@PicoLeagueBundle/Resources/public/league.js' output='league.js' %}
    	<script type="text/javascript">
            $(function(){
                var url = "{{url('pico_league_affichage_ajax',{'Type' : 'to_replace'})}}";
                url = url.replace("to_replace", "Ligues");
                $.get(url,function(data,status){
                    if(status == 'success') {
                        $('#dynamique').html(data);
                    } else {
                        alert('erreur');
                    }
                });
            })
			$("button").click(function(){
				var url = "{{url('pico_league_affichage_ajax',{'Type' : 'to_replace'})}}";
				url = url.replace("to_replace", $(this).attr("value"));
  				$.get(url,function(data,status){
  					if(status == 'success') {
    					$('#dynamique').html(data);
    				} else {
    					alert('erreur');
    				}
    			});
			});
		</script>
	{% endjavascripts %}
{% endblock %}
