{% extends "UserManagementBundle:Default:index.html.twig" %}
{% block body %}
	<div class="message">
		{{ message }}
	</div>
	<form class="form-group" method="post" action="/PicoPlan/PicoPlanApp/web/app_dev.php/login/connexion">
		Login : <br />
		<input name="login" type="text" /><br />
		Mot de passe : <br />
		<input name="pwd" type="password" /><br />
		<input type="submit" value="Connexion">
	</form>
	<div class="message">
		Pas encore de compte ? : <a href="/PicoPlan/PicoPlanApp/web/app_dev.php/login/inscription">Inscription</a><br />
		<a href="/PicoPlan/PicoPlanApp/web/app_dev.php/login/oubli">Mot de passe oublié ?</a>
	</div>
{% endblock %}